*,
form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #061C21;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #F05735;
    font-size: 2.5rem;
    text-align: center;
}

.content {
    width: 50%;
    margin-top: 0.6rem;
    background-color: #36A345;
    padding: 4rem;
    border-radius: 15px;

}

.quote {
    font-family: 'Spirax', cursive;
    font-size: 1.8rem;
    text-align: justify;
    padding-top: 12px;
}

.author {
    text-align: right;
    margin-top: 0.6rem;
    font-size: 2rem;
    color: #061C21;
    font-family: 'Spirax', cursive;
    font-weight: 900;

}

.btn {
    background-color: #F05735;
    color: aliceblue;
}

hr {
    margin-top: 0.6rem;
    color: #061C21;
    width: 100%;
}

.icon {
    color: #061C21;
    margin-right: 1rem;
    font-size: 1rem;

}

.btn {

    border: none;
    padding: 0.8rem;
    outline: none;
    border-radius: 15px;
    margin-top: 0.6rem;
    width: 50%;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.8;
}

button:hover,
button:active {
    background-color: rgba(240, 87, 53, 0.8);
    color: #061C21;
    cursor: pointer;
}